#input{
    text-align: center;
    

}
#button
{
    background-color: red;
}

#input2{
    text-align: center;
    

}
#dbutton
{
    background-color: red;
}
#mouse
{
    text-align: center;
    background-color: aquamarine;
}
